APP_ENV=development
LILYCARE_DB_HOST=localhost
LILYCARE_DB_PORT=5432
LILYCARE_DB_NAME=lilycare_db
LILYCARE_DB_USER=lilycare_user
LILYCARE_DB_PASSWORD=password
LILYCARE_DB_SSLMODE=prefer

SECRET_KEY=secret